<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard monitoreo</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        .card {
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h3 {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    <br/><br/>
    <center><h3>Software de monitoreo</h3></center>
    <div class="container mt-5">
        <div class="row" id="card-container">
            {% for api in apis %}
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ api.title }}</h5>
                        <p class="card-text">{{ api.description }}</p>
                        <a href="{{ api.endpoint }}" class="btn btn-dark">
                            <i class="fas fa-external-link-alt"> Ir </i> <!-- Icono de Font Awesome para enlace externo -->
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
